<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All</title>
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <a href="javascript:void(0)">
                    <h1>Svalka</h1>
                </a>
                <h2>незаконных свалок</h2>
                <a href="second.html" id="add-button">Добавить еще одну</a>
            </div>
        </header>
        <div class="cards-container">
            <div class="card-columns">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="view.html" class="card-title">Ореховская помойка</a>
                        <p class="card-text">Огромная куча мусора под селом Ореховка</p>
                        <p class="card-text"><small class="text-muted">Опасность пожара</small></p>
                        <p class="card-text d-flex"><a href="edit.html" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
            
            
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">Ореховская свалка</a>
                        <p class="card-text">Небольшая свалка бытовых отходов</p>
                        <p class="card-text"><small class="text-muted">Загрязнение окружающей среды</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
        
        
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">"Ромашка"</a>
                        <p class="card-text">Полигон токсичных отходов завода "Алейский полиматериал"</p>
                        <p class="card-text"><small class="text-muted">Ядовитые испарения</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
        
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">Помойка на реке "Уба"</a>
                        <p class="card-text">Замусорение вдоль русла реки</p>
                        <p class="card-text"><small class="text-muted">Загрязнение окружающей среды</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
            
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">"Огонек"</a>
                        <p class="card-text">Постоянно-горящая свалка бытовых отходов города "Хельмер"</p>
                        <p class="card-text"><small class="text-muted">Токсичный дым</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">"Юпитер-7"</a>
                        <p class="card-text">Свалка астрономических размеров</p>
                        <p class="card-text"><small class="text-muted">Возможно наличие иных форм жизни</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">Светловская скрытная</a>
                        <p class="card-text">Свалка замаскирована огромным баннером леса</p>
                        <p class="card-text"><small class="text-muted">Неизвестно</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <a href="javascript:void(0)" class="card-title">Свалка имени Эмилиена Попеску</a>
                        <p class="card-text">Огромная свалка "вампирского" реквизита. Плащи, вставные челюсти и тд.</p>
                        <p class="card-text"><small class="text-muted">Нет данных</small></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="edit-button">Редактировать</a></p>
                        <p class="card-text d-flex"><a href="javascript:void(0)" class="delete-button">Удалить</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <h3>Сообщить о свалке: +7 945 341 01 42</h3>
        </footer>
    </div>
    <script src="./src/js/bundle/common.bundle.js"></script>
    <script src="./src/js/bundle/vendors.bundle.js"></script>
    <script src="./src/js/bundle/index.bundle.js"></script>
</body>
</html>