<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <a href="index.html">
                    <h1>Svalka</h1>
                </a>
                <h2>незаконных свалок</h2>
            </div>
        </header>
        <div class="content-panel">
            <div class="main-content">
                <div class="head-desk">
                    <h4 class="small-margin">Добавление новой свалки</h4>
                    Все поля обязательны для заполнения
                </div>
                <textarea rows="2" cols="45" name="text" placeholder="Название" required="true" class="field"></textarea>
                <textarea rows="10" cols="45" name="text" placeholder="Описание" required="true" class="field"></textarea>
                <textarea rows="3" cols="45" name="text" placeholder="Возможная опасность" required="true" class="field"></textarea>
                <a href="index.html" class="ok-button">Добавить</a>
            </div>   
        </div>

        <footer>
            <h3>Сообщить о свалке: +7 945 341 01 42</h3>
        </footer>
        <script src="./src/js/bundle/common.bundle.js"></script>
        <script src="./src/js/bundle/second.bundle.js"></script>
    </div>
</body>
</html>