<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <a href="index.html">
                    <h1>Svalka</h1>
                </a>
                <h2>незаконных свалок</h2>
            </div>
        </header>
        <div class="content-panel">
            <div class="view-content">
                <h4 class="big-margin">Ореховская помойка</h4>
               
                <div class="big-margin">Огромная куча мусора под селом Ореховка</div>
                <h5>Опасность пожара</h5>
             
            </div>   
        </div>

        <footer>
            <h3>Сообщить о свалке: +7 945 341 01 42</h3>
        </footer>
        <script src="./src/js/bundle/common.bundle.js"></script>
        <script src="./src/js/bundle/second.bundle.js"></script>
    </div>
</body>
</html>